name: Daily Job Data Update

permissions:
  contents: write
on:
  schedule:
    - cron: "0 3 * * *"
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run data fetch script
        run: |
          python fetch_jobs.py

      - name: Commit updated database
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add jobs.db
          git commit -m "Daily job update" || echo "No changes"
          git push
